Installing djangorestframework...
Resolving djangorestframework...
Installing...
Adding djangorestframework to Pipfile's [packages] ...
✔ Installation Succeeded
Installing freeze...
Resolving freeze...
Installing...
